footer {
    background-color: #2b0200;
    width: 100%;
    height: 385px;

    color: #f5ebdc;
    font-weight: bold;
    font-size: 24px;
    list-style: none;
}

#footerWrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#footerHr {
    height: 2px;
    width: 100%;
    background: #2b0200;
}

#footerHr hr {
    width: 960px;
    margin: 0 auto;
    border-color: #bba391;
}

footer #footerWrap>span {
    width: 20%;
    margin: 40px 10px 30px;
}

footer span li {
    padding-top: 10px;
}

footer span li:first-child {
    padding-top: 20px;
}


#span1 {
    color: #bba391;
    font-size: 14px;
}


#span1 a {
    text-decoration: none;
    color: #bba391;
}


.ttWrap a {
    text-decoration: none;
    font-size: 14px;
}

.ttWrap {
    position: absolute;
    top: 100px;
    right: 500px;
}
