#headerspan a {

    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}

#headerspan {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}



#headfirstWrap > span:nth-child(1) {
    background:url(../img/헤드삼각형.gif) 90px 13px no-repeat;
}

#headfirstWrap > span:nth-child(2) {
    background:url(../img/헤드삼각형.gif) 90px 13px no-repeat;
}

#headfirstWrap > span:nth-child(3) {
    background:url(../img/헤드삼각형.gif) 75px 13px no-repeat;
}

#headfirstWrap > span:nth-child(4) {
    background:url(../img/헤드삼각형.gif) 130px 13px no-repeat;
}



.headbig {
    font-size: 20px;
    font-weight: 900;
    color: black;
   
}

#headsmall {

    font-size: 6px;


}















.tt>li>a {
    text-decoration: none;}

nav {
    width: 960px;
    overflow: hidden;
    background-color: white;
    display: flex;
    margin: 0 auto;
}


nav > a {width: 20%;} 

nav>h1 {
    float: left;
    width: 20%;
    line-height: 50px;
    color: black;
    text-align: center;
}

nav>ul {
    float: right;
    width: 80%;
    line-height: 50px;
    margin-left: 70px;
}

nav .tt li {
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 0px;


}

nav li a {
    color: black;
    font-size: 22px;
    font-weight: 900;
    height: 55px;
    width: auto;
    padding-right: 20px;
}

#headfirstWrap {

    font-size: 20px;
    list-style: none;
    text-decoration: none;

    font-size: 25px;
    font-weight: 500;
    width: 80%;
    display: flex;
    margin-top: 60px;
    
}



.headbig {
    font-size: 20px;
    font-weight: 900;
    width: 20%;}





.headsmall {
    position: absolute;
    top: 100px;
    display: block;
    height: 300px;
    width: 151px;
    background-color: white;
    z-index: 10;
    
   

}





.headsmall a {
    
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
   
    
}

.spanWrap2 {
 display: block;
 margin-top: -10px;
 position: relative;
 z-index:1 ;


}

#headfirstWrap .headsmall{

    display: none;

}

#headfirstWrap:hover .headsmall{

    display: block;

}

#headfirstWrap .width2000{

    display: none;
    border-bottom: 0.5px solid gainsboro;

}

#headfirstWrap:hover .width2000{

    display: block;

}

.width2000 {
    background-color: white; 
    width: 2000px; 
    height: 300px;
    position: absolute;
    top: 108px;
    left: 0;

}


.redorder{
 display: block;
 background-color:red;
 width: 166px;
 height: 50px;

 border-radius: 25px;
 text-align: center;
 color: white;
 font-size: 20px;
 line-height: 50px;
 font-weight: 900;
margin-top: -10px;

}