

main {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;


    
}


#slide {
    width: 960px;
    position:absolute;
    top: 108px;
    height: 320px;
}


.slideleft{
    position:absolute; 
    top: 138px;
    left: 10px;
    z-index: 5;
}


.slideright {
    position:absolute; 
    top: 138px;
    left: 920px;
    clear: left;
    z-index: 5;
}

.slidewhite {
    background-color: aqua;
    width: 320px;
    height: 300px;

}

.slidewrap {
    width: 960px;
    height: 320px;
}

.slideimage {
    display: block;
    position: absolute;
    width: 960px;
    
    
}



.slideimage:nth-child(1) {
    margin-left: 0;
}

.slideimage:nth-child(2) {
    margin-left: 100%;
}

.slideimage:nth-child(3) {
    margin-left: 200%;
}

.slideimage:nth-child(4) {
    margin-left: 300%;
}

.slideimage:nth-child(5) {
    margin-left: 400%;
}



#main img {
    width: 100%;
}

#main2 {
    width: 100%;
    margin-top: 320px;
}

.a1 {
    margin-top: 20px;
    margin-left: 50px;
}

.a2 {
    float: right;
    background-color: red;
    font-size: 20px;
    font-weight: 900;
    color: white;


    border-radius: 30px 30px 30px 30px;
    width: 166px;
    height: 50px;

    margin-top: -70px;
    margin-right: 130px;
}


.a2>a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.tt {
    margin-top: -70px;
    display: inline;
}
