article {
    width: 125px;
    height: 189px;
    float: left;

    background-color: #683a2f;
    color: white;
    text-align: center;
    margin-top: -4px;

}

article>a {
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;

}



#section1 {
    height: 160px;

}





#youtube {
    background: url('../img/you.png') center 45px no-repeat #683a2f;
    background-size: 47px auto;
}

#facebook {
    background: url('../img/face.png') center 45px no-repeat #683a2f;
    background-size: 47px auto;
}

#ins {
    background: url('../img/insins.png') center 45px no-repeat #683a2f;
    background-size: 47px auto;
}


#ytb {
    background-color: white;
    width: 80px;
    height: 20px;
    color: black;
    margin-top: 10px; 
 
    border-radius: 5px 5px 5px 5px;
    font-size:10px;
    font-weight:200;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#fb {
    background-color: white;
    width: 80px;
    height: 20px;
    color: black;
    margin-left: 10px;
    margin-top: 10px; 
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
    font-size:10px;
    font-weight:200;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

     
}




#is {
    background-color: white;
    width: 75px;
    height: 20px;
    color: black;
    margin-left: 2px;
    margin-top: 10px; 
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 10px;
    font-weight: 200;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#fir1 {
    margin-top: 50px;
    font-size: 18px;}

#sec2 {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 18px;}

#thr3 {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 18px;}