.allli {
    font-weight: 900;
    
}




.image1 {
    margin-right: 15px;
    
}

#menu > ul > li {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(200,200, 200, 0.3);
    
    
    
}


@font-face {
    font-family: "타이포_다방구 B";
    src: url("Typo_DabangguB.woff2") format("woff2");
}

* {
    font-family: "타이포_다방구 B";
}

* {
    margin: 0;
    padding: 0;
}


.header1 {
    background-color: white;
    width: px;
    height: 57px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header1>div {
    display: flex;
    width: 80px;
    justify-content: center;
}



.headerleft {
    display: flex;
    align-items: center;
}

#menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 50;
    top: 57px;
    left: 0;
    list-style: none;
    width: 100%;



}

#menu ul {
    list-style: none;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;



}

#menu > ul > ul > li {
    margin: 10px 0 10px 10px;


}

#menu > ul > li {margin: 30px 0 10px 10px;}

.headerleft:hover #menu {
    display: block;
}

.redorder {
    background-color: red;
    width: 79.75px;
    height: 26px;

    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 10.625px;
    font-weight: 900;
    line-height: 26px;
    margin-top: 15px;



}

.redorder a {

    text-decoration: none;
    color: white;
    font-style: bold;




}