.onlymain {
    margin: 0 auto;
    width: 375px;
    height: 667px;
}

.slidewrap {
    width: 4800px;
    height: 320px;
    position: relative;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
   
 
}



.mainimage {
    background-color: antiquewhite;
    width: 375px;
    height: 375px;
    margin: 0 auto;
}

.slideimage {
    float: left;
    width: 376px;
    }



.slideimage {
 left: 0;
}